$black:#000;
$white:#fff;
$teal:#609d97;
$text-color:#302c29;
$grey:#201F1F;
$footer-input:#676767;
$footer-button-bg:#3D3D3D;
$light-grey:#737373;
$main-bg:#F3F1F1;
$advertising-banner-bg:#E7E7E7;
$product-title-border:#4C6A67;
$post-title-color:#333;
$post-date-color:#a6a5a4;
$post-description-color:#b8b8b8;
$post-view-button:#4E6D6A;
$manufacturer-color:#bcbcbc;
$price-color: #6d928e;
$back-link-color:#4e6d6a;
$sub-title-color: #a09e9e;
$news-details-border:#DCDCDC;