 body{
 	font-family: Arial, sans-serif !important;
 	font-size: 18px;
 	font-weight: 400;
 	color:$text-color;
 }


 body, html {
 	height: auto!important;
 }

 p{
 	margin-bottom: 30px;
 }

 .ui.grid{
 	margin-top: 0 !important;
 	margin-bottom: 0 !important;
 }
 a{
 	-webkit-transition: all 0.3s ease-in-out;
 	-moz-transition: all 0.3s ease-in-out;
 	-o-transition: all 0.3s ease-in-out;
 	transition: all 0.3s ease-in-out;
 	&:hover{
 		-webkit-transition: all 0.3s ease-in-out;
 		-moz-transition: all 0.3s ease-in-out;
 		-o-transition: all 0.3s ease-in-out;
 		transition: all 0.3s ease-in-out;
 	}
 }