footer{
	background-color: $black;
	padding: 20px 0px 20px;
	.footer-content{
		display: flex;
		@media screen and (max-width: 769px){
			padding: 0px 25px;
		}
		@media screen and (max-width: 480px){
			flex-direction:column;
			padding: 0;
		}
		.footer-column{
			width: 38%;
			padding-top: 50px;
			@media screen and (max-width: 769px){
				width: 60%;
			}
			@media screen and (max-width: 480px){
				width: 100%;
				text-align: center;
				order:2;
			}
			&:first-child{
				width: 24%;
				@media screen and (max-width: 769px){
					display: none;
				}
			}
			&:last-child{
				@media screen and (min-width: 1025px){
					padding-left: 35px;
					border-left: 1px solid #1b1b1b;
				}
				@media screen and (max-width: 769px){
					width: 40%;
				}
				@media screen and (max-width: 480px){
					order:1;
					margin-bottom: 0px;
					width: 100%;
				}
			}
			.footer-nav{
				display: flex;
				@media screen and (max-width: 480px){
					flex-direction:column;
				}
				.column{
					width: 50%;
					@media screen and (max-width: 480px){
						width: 100%;
					}
				}
				.footer-nav-list{
					margin-bottom: 55px;
					@media screen and (max-width: 480px){
						text-align: center;
					}
					li{
						margin-bottom: 5px;
						a{
							color:$white;
							font-size: 12px;
						}
					}
				}
				.footer-social-nav{
					@media screen and (max-width: 480px){
						text-align: center;
					}
					li{
						display: inline-block;
						a{
							i{
								color:$white;
								font-size: 28px;
								width: auto;
							}
						}
						&:not(:last-child){
							a{
								i{
									margin-right: 20px;
								}
							}
						}
					}
				}
			}
			.footer-caption{
				font-size: 18px;
				color:$teal;
				text-transform: uppercase;
				margin-bottom: 25px;
				@media screen and (max-width: 480px){
					text-align: center;
				}
			}
			img{
				display: block;
				max-width: 100%;
				margin: 0 auto;
				height: auto;
				margin-top: 50px;
			}
			.copyright-text{
				font-size: 12px;
				color:$white;
				@media screen and (max-width: 480px){
					margin: 30px 0px 0px;
				}
			}
			.footer-text{
				color:$white;
				font-size: 12px;
			}
			.footer-form{
				margin-top: 25px;
				width: 270px;
				@media screen and (max-width: 480px){
					margin: 0 auto;
				}
				.input{
					width: 100%;
				}
				input{
					font-size: 12px;
					font-family: Arial,sans-serif;
					color:$footer-input;
					border:none;
					border-radius: 0;
					margin-bottom: 15px;
				}
				.button{
					font-size: 14px;
					font-family: Arial,sans-serif;
					color:$white;
					display: block;
					background-color: $footer-button-bg;
					margin: 0 auto;
				}
			}
		}
	}
}