header{
	.header-wrapper{
		padding: 15px 25px;
		background-color: $black;
		@media screen and (max-width: 1024px){
			padding: 15px 10px 30px;
		}
		@media screen and (max-width: 480px){
			padding: 15px 10px 25px;
		}
		.main-menu-wrapper{
			display: flex;
			align-items: center;
			flex-wrap:wrap;
			.menu-item{
				width:25%;
				@media screen and (max-width: 1024px){
					width: 50%;
					order:1;
				}
				@media screen and (max-width: 600px){
					width: 100% !important;
					text-align: center;
					margin-bottom: 35px;
				}
				&.search-menu{
					@media screen and (max-width: 1024px){
						width: 100%;
						order:2;
						margin-top: 35px;
						text-align: center;
					}
					@media screen and (max-width: 600px){
						margin: 0;
					}
					input{
						font-size: 14px;
						font-family: Arial, sans-serif;
						width: 300px;
						outline: none !important;
						background-color: $grey;
						color:$light-grey !important;
						border-radius: 10px;
						border:none;
						box-shadow: none !important;
						&:hover,&:active,&:focus{
							outline: none;
							color:$light-grey !important;
							box-shadow: none !important;
						}
					}
					i{
						color:$light-grey !important;
					}
				}
				&.main-logo{
					width:50%;
					img{
						display: block;
						margin: 0 auto;
						max-width: 100%;
						height: auto;
					}
				}
				ul{
					li{
						display: inline-block;
						a{
							font-size: 14px;
							text-transform: uppercase;
						}
						&:first-child{
							margin-right: 25px;
							a{
								color:$teal;
							}
						}
						&:last-child{
							a{
								color:$white;
							}
						}
					}
				}
			}
		}
	}
}