main{
	background-color: $main-bg;
	.content-wrapper{
		padding-top: 65px;
		padding-bottom: 150px;
		@media screen and (max-width: 992px){
			padding-bottom: 50px;
		}
		.grid{
			margin-top:0 !important;
			margin-bottom:0 !important;
			.column{
				padding: 0 !important;
				@media screen and (max-width: 992px){
					margin-bottom: 25px;
				}
			}
		}
		.page-content{
			padding: 30px 35px;
			background-color: $white;
			border-radius: 10px;
			.header-content{
				font-size: 30px;
				font-weight: 300;
				margin-bottom: 50px;
			}
		}
	}
}