.article-news{
	padding: 25px 30px 30px;
	background-color: $white;
	border: 1px solid #E0E0E0;
	border-radius: 10px;
	margin-bottom: 30px;
	.back-buttons{
		font-size: 12px;
		color:$back-link-color;
		position: relative;
		padding-left:20px; 
		margin-bottom: 25px;
		display: block;
		&:before{
			position: absolute;
			content: "";
			display: block;
			top: 0;
			left: 0;
			background-image: url(../images/back-arrow.png);
			height: 14px;
			width: 14px;
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center;
		}
	}
	.title{
		font-size: 30px;
		color:$text-color;
		margin-bottom: 20px;
	}
	.sub-title{
		font-size: 18px;
		color:$sub-title-color;
		line-height: 1.2;
	}
	.news-details{
		padding: 10px 0px;
		border-top: 1.5px solid $news-details-border; 
		border-bottom: 1.5px solid $news-details-border; 
		margin-bottom: 20px;
		display: flex;
		align-items: center;
		.description{
			font-size: 12px;
			line-height: 1.5;
			width: 40%;
			color:#272525;
			span{
				display: block;
			}
		}
		.social-buttons{
			width: 60%;
			text-align: right;
			padding-right: 20px;
			ul{
				list-style-type: none;
				li{
					display: inline-block;
					&:not(:last-child){
						margin-right: 5px;
					}
					a{
						height: 25px;
						width: 25px;
						border-radius: 50%;
						background-color: $news-details-border;
						color:$white;
						padding: 5px;
						i{
							margin: 0;
						}
					}
				}
			}
		}
	}
	.news-content{
		
		h3{
			margin-bottom: 20px;
			color:$black;
			font-weight: 700;
		}
		img{
			max-width: 100%;
			height: auto;
			display: block;
			margin: 0 auto;
			margin-bottom: 30px;
		}
		p{
			font-size: 14px;
			line-height: 1.4;
			margin-bottom: 20px;
		}
	}
}