.products-wrapper{
	.title{
		font-size: 24px;
		color:$black;
		text-align: center;
		padding: 15px 0px;
		border-bottom: 2px solid #D7D7D7;
	}
}

.products-card-wrapper{
	display: flex;
	flex-wrap:wrap;
}

.product-card{
	border-radius: 10px;
	border:1px solid #E0E0E0;
	background-color: $white;
	margin: 12px 0px 30px;
	width: calc(20% - 8px);
	@media screen and (max-width: 992px){
		width: calc(33% - 8px);
	}
	&:not(:first-child){
		margin-left: 10px;
	}
	.card-content{
		padding: 15px;
	}
	img{
		width: 187px;
		max-width: 100%;
		display: block;
		height: 187px;
		margin: 0 auto;
		margin-bottom: 15px;
	}
	.card-details{
		@media screen and (max-width: 992px){
			text-align: center;
		}
		p{
			margin: 0;
		}
		.manufacturer{
			display: block;
			font-size: 11px;
			color:$manufacturer-color;
			margin-bottom: 10px;
		}
		.price{
			font-size: 20px;
			color:$price-color;
			margin-bottom: 10px;
		}
		.description{
			color:$black;
			font-size: 14px;
			margin-bottom: 10px;
			line-height: 1.2;
		}
		.discount{
			font-size: 11px;
			color:$manufacturer-color;
		}
	}
	.card-buttons{
		display: flex;
		border-top: 1px solid #E0E0E0; 
		a{
			text-transform: uppercase;
			font-size: 12px;
			color:$manufacturer-color;
			text-align: center;
			width: 50%;
			padding: 15px 0px 20px;
			&:first-child{
				border-right: 1px solid #E0E0E0;
			}
		}
	}
}