.advertising-banner{
	padding: 30px 10px 40px;
	background-color: $advertising-banner-bg;
}

.product-news-content{
	padding: 15px 0px;
	background-color: $main-bg;
}


.features-deals-block{
	padding: 0px 0px 15px;
	.title{
		font-size: 18px;
		color:$text-color;
		padding: 10px 0px;
		margin-bottom: 10px;
		border-bottom: 5px solid $product-title-border;
	}
	.features-details{
		margin-bottom: 10px;
		display: flex;
		img{
			margin-right: 10px;
		}
		p{
			line-height: 1.2;
			a{
				font-size: 14px;
				color:$text-color;
				display: block;
				&:hover{
					color:$teal;
				}
			}
			span{
				display: block;
			}
		}
	}
}


.post-block{
	padding: 25px 30px 30px 30px;
	background-color: $white;
	border-radius: 10px;
	margin-bottom: 20px;
	border:1px solid #E0E0E0;
	img{
		width: 342px;
		display: block;
	}
	.post-content{
		text-align: left;
	}
	.post-buttons{
		margin-bottom: 18px;
		a{
			display: inline-block;
			color:$white;
			text-transform: uppercase;
			font-size: 14px;
			padding: 10px;
			background-color: $text-color;
			&:hover{
				background-color: $teal;
			}
			&:last-child{
				padding: 10px 20px 10px 15px;
			}
		}
	}
	.post-title{
		font-size: 24px;
		color:$post-title-color;
	}
	.post-date{
		font-size: 12px;
		color:$post-date-color;
		padding: 20px 0px;
		display: block;
	}
	.post-description{
		font-size: 18px;
		color:$post-description-color;
		font-style: italic;
		line-height: 1.2;
	}
	.view-button-wrapper{
		text-align: right;
		margin-top: 30px;
	}
	.view-button{
		color:$white;
		padding: 12px 20px;
		text-transform: uppercase;
		font-size: 14px;
		background-color: $post-view-button;
		display: inline-block;
	}
	&.last-post{
		img{
			margin-bottom: 30px;
			width: 100%;
			max-width: 100%;
		}
		.post-content{
			text-align: center;
		}
		.post-details{
			text-align: center;
		}
	}
	&.even-post, &.odd-post{
		display: flex;
	}
	&.even-post{
		.post-image{
			order:1;
			margin-right: 15px;
		}
		.post-content{
			order:2;
		}
	}
	&.odd-post{
		.post-image{
			order:2;
		}
		.post-content{
			order:1;
		}
	}
}