.left-widget-nav{
	font-size: 24px;
	color:$teal;
	margin-right: 10px;
	@media screen and (max-width: 992px){
		margin: 0;
	}
	.header-widget{
		padding: 25px 0px;
		text-align: center;
		background-color: $white;
		border-top-left-radius:10px;
		border-top-right-radius:10px;
		margin-bottom: 2px;
	}
	.widget-nav-list{
		background-color: $white;
		min-height: 450px;
		border-bottom-left-radius:10px;
		border-bottom-right-radius:10px;
		@media screen and (max-width: 992px){
			min-height: auto;
		}
		li{
			@media screen and (max-width: 992px){
				display: inline-block;
			}
			a{
				font-size: 16px;
				display: block;
				padding: 20px 5px;
				text-align: center;
				color:$text-color;
				@media screen and (max-width: 992px){
					padding: 10px 5px;
				}
			}
			&.active{
				a{
					color:$teal;
				}
			}
		}
	}
}